/* 
@theme totez
@author reecebisel
*/

$darkish:   #011627;
$lightish:  #FAFAFF;
$blueish:   #5ADBFF;
$yellowish: #FFDD4A;
$orangeish: #FE9000;

$background:      $lightish;
$color-light:     $lightish;
$color-dark:      $darkish;
$color-primary:   $orangeish;
$color-secondary: $yellowish;

@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto|Ubuntu&display=swap');
@import './simple';

$heading-font: 'Righteous';
$main-font:    'Ubuntu Condensed';

section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  flex-direction: column;

  h1, h2, h3, h4, h5 {
    font-family: $heading-font;
  }
}

